# models.config
model_config_list {
  config {
    name: 'esmm'
    base_path: '/models/esmm'
    model_platform: "tensorflow"
    model_version_policy {
      all {}
    }
  }
  
  config {
    name: 'embedding'
    base_path: '/models/embedding'
    model_platform: "tensorflow"
    model_version_policy {
      all {}
    }
  }
}
